.cooldown {
  &__container {
    color: yellow;
    font-weight: bold;
    font-family: monospace;
  }
  &__time-remainder {
    margin-left: 6px;
  }
  &__time-total {
    color: red;
  }
  &__time-divider {
    color: cyan;
  }
}
